.header{
    background-color: #A6CAD4;
    text-align: center;
    padding: 10px;
}
body {
    background-color: #EDDDD0;
}

ul {
    display: flex;
    justify-content:center;
}
li {
    list-style-type: none;
    padding:5px;
    margin:1px 10px 1px;
}
article {

}

/* h1{
    color:#003399;
    background-color:#E6FFFF ;
    text-align: center;
    padding: 20px;
} */
h2{
    margin: 20px
}

p{
    height: 150px;
    line-height: 30px;
    margin: 10px;
   
}
#heading{
    font-family: Montserrat, sans-serif;
}

.course{

    height: 150px;
    line-height: 30px;
    margin: 50px;
   
}


footer {
    background-color: #A6CAD4;
    text-align: center;
}


